.background_gif_index{
    background-image:url(../odin-recipes/backgroundindex.gif);
    background-size: cover;
    background-position: center;
    background-color: black;
    background-repeat: no-repeat;
    color: white;
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
}
.title {
    color: rgb(143, 101, 10);
    font-weight: bold;
    text-align: center;
    font-size: 55px;
    background-color: whitesmoke;
    background-image: url(rm125-ning-94b-frame.jpg);
}

.first {
    color: rgb(66, 19, 19);
    font-weight: lighter;
    text-align: initial;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.second {
    color: rgb(66, 19, 19);
    font-weight: lighter;
    text-align: initial;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.third {
    color: rgb(66, 19, 19);
    font-weight: lighter;
    text-align: initial;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.gifnumber1{
     height: auto; 
     width: 350px;
     position: center; 
}